[mysqld]
# Enable Binary Logging for Point-in-Time Recovery
log_bin             = /var/log/mysql/mysql-bin.log
expire_logs_days    = 7
max_binlog_size     = 100M
binlog_format       = ROW
server-id           = 1  # Will need to be unique per container if doing replication over network, but okay here for local log.

# General Optimization
innodb_buffer_pool_size = 256M
max_connections         = 100
