fastapi
uvicorn
sqlalchemy
pymysql
cryptography
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2
pydantic
python-multipart
python-dotenv
aiofiles
a2wsgi
python-dateutil
requests
reportlab
alembic
pytest
httpx
redis
slowapi
